<style>
.prodSS{
	margin-left: 1%;
    padding: 0% 1%;
    width: 100px;
    height: 40px;
}
.searchForm{
	margin-top: 2%;
	font-size: 2em;
}
</style>
<h1><span class="blue">Dental</span> Squid</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi quis odio tincidunt venenatis in ac ante. Proin justo sem, hendrerit nec ante vel, pretium placerat lacus. Donec semper lectus dui, id sagittis ipsum ullamcorper luctus. Donec elementum, odio consectetur luctus accumsan, magna ligula rhoncus elit, ac eleifend purus erat vitae dui. Aliquam id blandit magna. Pellentesque dignissim varius felis vitae varius. Vestibulum quis elementum nunc, eu dapibus metus. Duis fringilla nisl urna, sit amet aliquet quam dapibus id.</p>

<p>In lorem erat, interdum et metus viverra, bibendum mollis libero. Fusce eu diam ut neque sodales porta. Sed consectetur nunc interdum, accumsan enim eu, lobortis libero. Sed et dolor diam. Nulla aliquam eleifend nulla sit amet vestibulum. Nam finibus, ante id aliquet pellentesque, ligula ligula condimentum nulla, a eleifend nulla enim et enim. Phasellus laoreet maximus venenatis. Nunc ac fringilla est, vel placerat tellus.</p>

<% if session[:front_door] == true %>
<% else %>
<div class="searchForm">
<form action="/search" method="POST">
Search All Products: <input type="text" name="sparams">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="submit" value="Search" class="prodSS btn btn-primary btn-lg">
</form>
</div>
<% end %>