<h1>Contact Us</h1>
<div class="row">
<div class="col-md-8">
<p>Dental Squid.  The site that saves you time and money while maintaining your current service and relationships.</p>

<p>We are always interested in hearing from our customers.  Whether you want to let us know how much money we’re helping you save or if you have a suggestion for how we can improve our service, or if you just want to chat.  We’re here for you.  E-mail, tweet, post, or snap. We’d love to hear from you.</p>

<p>Don’t waste any more time and money; use Dental Squid!  Same quality.  Same service.  Lower price.</p>
</div>
</div>