<style type="text/css">
.quote{
	margin-left: 10%;
}
</style>
<h1>Refer A Friend</h1>
<div class="row">
<div class="col-md-8">
<p>Do you consider yourself to be helpful?<p>

<p>Well, help out a friend while helping yourself.  Refer a friend and receive one-month of service at no charge.<p>

<p>Our goal is to create a site that helps improve your practice, and ultimately dentistry as a profession.  We’re starting small by saving you money on your supplies, but just wait till you see what we have in store… this is only the tip of the iceberg!<p>

<h4>QUOTE:</h4>
<p>In the simplest sense, what are you trying to accomplish when buying things for the office?<p>   
	<p class="quote"><i>“I want the best product for the cheapest price possible, without compromising service.  That’s why I use DentalSquid”</i><p>
</div>
</div>