<h1>Pricing</h1>
<div class="row">
<div class="col-md-8">
<p>Welcome to Dental Squid, the site that saves you time and money while maintaining your current service and relationships.</p>

<p>Most people don’t know that each distributor sets a different price structure for each office they serve.  This “pricing plan” determines how much discount (if any) off the catalog list price your office is entitled to.  This discount is determined by the agreement you signed with your dental distributor.  That is why the price on a single item may vary by as much as 50% between distributors and may change from month to month.</p>

<p>To maximize your benefit, remember to use Dental Squid each time your office makes an equipment or supplies order.  Just because a particular distributor has the lowest price on all your normal supplies one month does not mean that it will have the lowest price the next month. Indeed, dental distributors change their pricing daily based on market dynamics.</p>

<p>Don’t waste any more time and money; use Dental Squid!</p> 
<p>Same quality.  Same service.  Lower price.</p>
</div>
</div>