<style>
	td{
		padding: 1%;
	}
.productnav li{
    margin: 1% 0;
	display: block;
}
input{
  display: block;
}
.productDiv{
    margin-top: .35%;
	height: 750px;
	overflow: scroll;
}
.productDiv::-webkit-scrollbar{
  display: none;
}
</style>
<div ng-controller='productsController'>
	Search Products: <input type="text" ng-model="product_filter">
	<div class="productDiv">
	<ul class="productnav">
		<li ng-repeat="product in products | filter:product_filter">
		<a href='/products/{{product.product_code}}/{{product.name}}'>{{ product.name }}</a>
		</li>
	</ul>
	</div>
</div>