<style>
	td{
		padding: 1%;
	}
.productnav li{
    margin: 1% 0;
	display: block;
}
input{
  display: block;
}
.productDiv{
    margin-top: .35%;
	height: 850px;
	overflow: scroll;
}
.productDiv::-webkit-scrollbar{
  display: none;
}
.productnav img{
	height: 100px;
	width: 100px;
}
table{
	width: 778px;
}
thead tr td{
	padding: 1%;
}
</style>
<div ng-controller='qProdController'>
	Search All Products: <input type="text" ng-model="product_filter">
	<div class="productDiv">
	<table class="productnav">
		<thead>
			<tr>
				<td>Image</td>
				<td>Product</td>
				<td>Manufacturer Number</td>
				<td>Manufacturer</td>
				<td>Distributor Number</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="product in products | filter:product_filter">
		<td><img src="http://dentalsquid.proscrapers.com/assets/uploads/4/{{product.product_code}}.jpg" onerror="this.onerror=null;this.src='http://dentalsquid.proscrapers.com/assets/uploads/1/{{product.product_code}}.jpg';"></td><td><a href='/products/{{product.product_code}}/{{product.name}}/{{product.manufacturer}}/{{product.manufacturer_number}}'>{{ product.name }}</a></td><td>{{ product.manufacturer_number }}</td><td>{{ product.manufacturer }}</td><td>{{ product.code }}</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>