<style>
.prodSS{
	margin-left: 1%;
}
</style>
<!-- <form action="/search" method="POST">
Search All Products: <input type="text" name="sparams">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="submit" value="Search" class="prodSS">
</form> -->
